<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.metawater.mapper.MypageMapper">


    <resultMap id="productMap" type="com.example.metawater.domain.ProductVO">
        <id property="productNo" column="product_no"/>
        <result property="productName" column="product_name"/>
        <result property="productSize" column="product_size"/>
        <result property="productWeight" column="product_weight"/>
        <result property="productDetail" column="product_detail"/>
        <result property="productGuide" column="product_guide"/>
        <result property="productType" column="product_type"/>
        <result property="productMethod" column="product_method"/>
        <result property="productRdate" column="product_rdate"/>
        <result property="productCompany" column="product_company"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="imgUrl" column="img_url"/>
        <result property="detailUrl" column="detail_url"/>
        <result property="productSales" column="product_sales"/>
        <result property="productFunction" column="product_function"/>
        <result property="productModel" column="product_model"/>
        <result property="productRentalPrice" column="product_rentalPrice"/>
        <result property="productPrice" column="product_price"/>
        <result property="productColor" column="product_color"/>
    </resultMap>

    <resultMap id="orderMap" type="com.example.metawater.domain.OrderVO">
        <result property="orderNo" column="order_no"/>
        <result property="productNo" column="product_no"/>
        <result property="memNo" column="mem_no"/>
        <result property="renNo" column="ren_no"/>
        <result property="orderState" column="order_state"/>
        <result property="orderHopedate" column="order_hopedate"/>
        <result property="orderAdd" column="order_add"/>
        <result property="orderName" column="order_name"/>
        <result property="orderPhone" column="order_phone"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderType" column="order_type"/>
    </resultMap>

    <resultMap id="ReturnMap" type="com.example.metawater.domain.ReturnVO">
        <id property="returnNo" column="return_no"/>
        <result property="returnDate" column="return_date"/>
        <result property="returnAdd" column="return_add"/>
        <result property="returnPrice" column="return_price"/>
        <result property="returnMethod" column="return_method"/>
        <result property="returnTrue" column="return_true"/>
        <result property="orderNo" column="order_no"/>
        <result property="memNo" column="mem_no"/>
    </resultMap>

    <resultMap id="MyDetailMap" type="com.example.metawater.domain.MyOrderProductVO">
        <result property="memNo" column="po.mem_no"/>
        <result property="productName" column="p.product_name"/>
        <result property="productModel" column="p.product_model"/>
        <result property="productSize" column="p.product_size"/>
        <result property="productGuide" column="p.product_guide"/>
        <result property="productRentalPrice" column="p.product_rentalprice"/>
        <result property="imgUrl" column="p.img_url"/>
        <result property="orderHopeDate" column="po.order_hopedate"/>
        <result property="OrderAdd" column="po.order_add"/>
        <result property="orderPhone" column="po.order_phone"/>
        <result property="orderType" column="po.order_type"/>
        <result property="renTerm" column="r.ren_term"/>
        <result property="renEndDate" column="r.ren_enddate"/>
    </resultMap>

    <!-- 해지신청 -->
    <insert id="returnInsert">
        INSERT INTO REVIEW (return_no, return_date, return_add, return_price, return_method, return_true, order_no, mem_no)
        VALUES (return_seq.nextval, #{returnDate}, #{returnAdd}, #{returnPrice}, #{returnMethod}, #{returnTrue}, #{orderNo}, #{memNo})
    </insert>

    <select id="getMyProductList" resultMap="productMap">
        <![CDATA[
        select * from product
                 where product_no IN
                       (select product_no from pr_order
                                          where mem_no = #{memNo} and order_state = '설치 완료')
        ]]>
    </select>

    <!-- 상세 정보 -->
    <select id="getOrderProductDetail" resultMap="MyDetailMap">
    <![CDATA[
        SELECT p.product_name, p.product_model, p.product_size, p.product_guide, p.product_rentalprice,p.img_url,
               po.order_hopedate, po.order_add, po.order_phone, po.order_type, r.ren_term, r.ren_enddate
        FROM pr_order po
                 JOIN rental r ON po.ren_no = r.ren_no
                 JOIN product p ON po.product_no = p.product_no
        WHERE po.mem_no = #{memNo}
        ]]>
</select>

    <select id="getMyOrderList" resultMap="orderMap">
 		<![CDATA[
        select * from pr_order
                 where mem_no = #{memNo} ORDER BY order_date DESC
        ]]>
 	</select>


    <select id="getMyProduct" resultMap="productMap">
 		<![CDATA[
        select * from product
        where product_no = #{productNo}
        ]]>
 	</select>

    <delete id="deleteReview" parameterType="long">
            delete from review where order_no = #{orderNo, jdbcType=BIGINT}
    </delete>

    <delete id="deleteReturn" parameterType="long">
            delete from return where order_no = #{orderNo, jdbcType=BIGINT}
    </delete>

    <delete id="deleteOrder" parameterType="long">
            delete from pr_order where order_no = #{orderNo, jdbcType=BIGINT}
    </delete>



</mapper>