<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.metawater.mapper.ProductMapper">

    <resultMap id="productMap" type="com.example.metawater.domain.ProductVO">
        <id property="product_id" column="product_id"/>
        <result property="product_name" column="product_name"/>
        <result property="product_size" column="product_size"/>
        <result property="product_weight" column="product_weight"/>
        <result property="product_detail" column="product_detail"/>
        <result property="product_guide" column="product_guide"/>
        <result property="product_type" column="product_type"/>
        <result property="product_method" column="product_method"/>
        <result property="product_rdate" column="product_rdate"/>
        <result property="product_company" column="product_company"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="img_url" column="img_url"/>
        <result property="detail_url" column="detail_url"/>
        <collection property="colors" resultMap="colorMap"></collection>
        <collection property="functions" resultMap="functionMap"></collection>
    </resultMap>

    <resultMap id="colorMap" type="com.example.metawater.domain.ColorVO">
        <id property="color_no" column="color_no"/>
        <result property="color_name" column="color_name"/>
    </resultMap>

    <resultMap id="functionMap" type="com.example.metawater.domain.FunctionVO">
        <id property="function_no" column="function_no"/>
        <result property="function_name" column="function_name"/>
        <result property="function_model" column="function_model"/>
        <result property="function_rentalPrice" column="function_rentalPrice"/>
        <result property="function_price" column="function_price"/>
    </resultMap>

<!--    <select id="getProductList" resultMap="productMap">-->
<!--        select distinct p.*, c.color_name, f.function_name-->
<!--        from product p-->
<!--                 left join product_color c on p.product_no = c.product_no-->
<!--                 left join product_function f on p.product_no = f.product_no-->
<!--        order by p.product_no-->
<!--    </select>-->

    <select id="getProductList" resultType="ProductVO">
       <![CDATA[
        select  * from product where product_no > 0
        ]]>
    </select>

<!--    <select id="getProduct" resultMap="productMap">-->
<!--        SELECT DISTINCT p.*, c.color_name, f.function_name-->
<!--        FROM product p-->
<!--                 LEFT JOIN product_color c ON p.product_no = c.product_no-->
<!--                 LEFT JOIN product_function f ON p.product_no = f.product_no-->
<!--        WHERE p.product_no = #{product_no}-->
<!--        ORDER BY p.product_no;-->
<!--    </select>-->

    <insert id="productInsert">
        INSERT INTO product(product_no, product_name, product_size,product_weight, product_detail,
                         product_guide, product_type,  product_method,
                         product_rdate, product_company, regDate, updateDate, detail_url,img_url, product_sales, product_function,
                            product_model, product_rentalPrice, product_price, product_color)
        VALUES(
                  product_seq.nextval,#{product_name},#{product_size},#{product_weight},#{product_detail},#{product_guide},#{product_type},#{product_method},
                 sysdate,#{product_company},sysdate,sysdate,'detail_url',#{img_url},4,#{product_function},#{product_model},
                  #{product_rentalPrice},#{product_price},#{product_color})
    </insert>

    <delete id="productDelete" parameterType="Long">
        delete from product where
            product_no = #{product_no}
    </delete>

    <update id="productUpdate">
        update product
        set  product_name = #{product_name},
             product_size = #{product_size} ,
             product_weight = #{product_weight} ,
             product_detail = #{product_detail} ,
             product_guide = #{product_guide},
             product_type = #{product_type},
             product_method = #{product_method},
             product_rdate = #{product_rdate},
             product_company = #{product_company},
             updateDate = sysdate,
             detail_url = #{detail_url},
             img_url = #{ img_url}
        where product_no = #{product_no}
    </update>
</mapper>
